<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.ContentSearch.SolrProvider" set:type="Sitecore.Support.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.Support.141324"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>